* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#tapiro-albino{
    margin-bottom: -110px;
}
.navbar {
    width: 85%;
    margin-top: -90px;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: +1;
}

.navbar {
    width: 100%;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0d69a3;
    position: fixed;
    z-index: +5;
}

.logo {
    width: 200px;
    cursor: pointer;
    margin: 50px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    margin-right: 50px;
    font-size: 11pt;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 200px;
    margin: auto;
    font-size: 30px;
    color: #0d69a3;
    font-weight: bold;
}

#imgAbout {
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 200px
}

.single-tapir {
    flex-basis: 20%;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 33px;
    color: #fff;
    position: relative;
    width: 1000px;
    margin-left: 460px;
}

.single-tapir img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 3px #00000046;
}

.overlay {
    width: 90%;
    height: 98.7%;
    position: absolute;
    top: 0;
    margin-left: 16.2px;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(rgba(255, 255, 255, 0.356), rgb(255, 255, 255));
    opacity: 0;
    transition: 0.8s;
}

.single-tapir:hover .overlay {
    opacity: 1;
}

.buy-now {
    width: 70%;
    height: 12%;
    position: absolute;
    bottom: -10px;
    margin-left: 50px;
    margin-top: 240px;
    border-radius: 20px;
    cursor: pointer;
    background: #0d69a3;
    opacity: 0;
    z-index: +1;
    transition: 1s;
}

.buy-now h4 {
    color: rgb(255, 255, 255);
    margin-top: 7px;
    font-weight: 100;
}

.single-tapir:hover .buy-now {
    bottom: 8%;
    opacity: 1;
}

.tapir-name {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.8s;
    color: black;
    z-index: +1;
}

hr {
    background: rgb(0, 0, 0);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 85%;
}

.tapir-name h3 {
    font-size: 18px;
}

.single-tapir:hover .tapir-name {
    bottom: 40%;
    opacity: 1;
}